#background{
 
 background-color: black;
 
}

#menuOr {
    text-align:center;
    background-color:white;
    }
    #menuOr ul {
    margin:0px;
    padding:0px;
    overflow:hidden;
    list-style-type:none;
    }
    #menuOr ul a:link , ul a:visited{
    display:block;
    padding:10px;
    text-decoration:none;
    color:black;
    text-transform:uppercase;
    }
    #menuOr ul a:hover {


        
        background-color:cadetblue;
        }
        #menuOr ul li{
        
        float:left;
        width:120px;
        }

#titolo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}